@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;;
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x:hidden ;
    scroll-behavior: smooth;
    background-color: #252527;
}

.header{
    background-color: #710000;
    z-index: 1;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    padding-left: 30rem;
}

.logo{
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1{
    color: white;
    font-size: 1.6rem;
}

.logo img{
    width: 100%;
    height: 100%;
}

.header .navegacao{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .navegacao li a{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}

.header .navegacao li a:hover{
    background-color: #3333;
    border-bottom: 4px solid white;
    color: white;    
}

.section1{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url("pizza_escura_mais_ainda.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
}

.section1 .conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1 h1{
    color: white;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

}

.botao button{
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color:#710000 ;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 5rem;
    transition: all 400ms ease-in;
}

.botao button:hover{
    border: 1px solid #710000;
    background-color: black;
    color:#710000;
    opacity: 80%;
}

.cardapio{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 12, 12, 0.8);
}

 .cardapio h2{
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
 }

.pizzas{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pizzas div{
    background-color: #5e5252;
    box-shadow: 0px 0px 4px 1px ;
}

.pizzas .infos{
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.pizzas .infos h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.pizzas .infos h4{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-left: 6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 150px;
}

.pizzas .infos h4 span{
    font-size: 1.6rem;
    color: #585858;
    margin-left: 1.5rem;
    text-decoration: underline;
}

.pizzas .infos .pedir2{
    width: 200px;
    height: 35px;
    margin-top: 0.5rem;
    background-color: #710000;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    transition: all 200ms ease-in;
}

.pizzas .infos .pedir2:hover{
    border: 1px solid #710000;
    background-color: black;
    color:#710000 ;
    opacity: 80%;
}

.pizzas img{
    width: 100%;
    height: 250px;
}

.contato{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    padding-bottom: 4rem;
}

.contato h3{
    font-size: 6rem;
    margin-bottom: 3rem;
}

.secao-contato{
    width: 650px;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

.secao-contato i{
    margin-right: 1rem;    
}

.secao-contato div{
    cursor: pointer;
    transition: all 400ms ease-in;
}

.secao-contato div:hover{
    color:#710000;
}

@media (max-width: 1400px) {
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10%;
        padding-left: 0px;
    }
}

@media (max-width:1150px){
    html{
        font-size: 50%;
    }
}

@media (max-width:890px){
    html{
        font-size: 45%;
    }
}

@media (max-width:768px){
    html{
        font-size: 35%;
    }
    
    .header{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0px 40px;
    }
    
    
.header .navegacao{
        display: none;
    }
    
    .um, .dois, .tres {
        width: 80%;
        height: 2px;
        background-color: white;
        margin: 6px auto;
        transition-duration: 0.5s;
    }
    
    .header.on{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(30, 31, 30, 0.8);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header.on .logo{
        display: none;
    }
    
    .header.on .header-cell{
        position: absolute;
        right: 40px;
        top: 20px;
    }
    
    .header.on .navegacao{
        display: block;

    }
    
    .header.on .navegacao li{
        display: flex;
        justify-content: center;
    }
    
    .header.on .navegacao li{
        font-size: 3rem;
       
    }
    
    .header.on .header-cell .dois{
        opacity: 0;
    }
    
    .header.on .header-cell .um{
        transform: rotate(45deg) translate(5px, -8px);
    }
    
    .header.on .header-cell .tres{
        transform: rotate(-45deg) translate(20px, -6px);
    }
    
    .header-cell{
        width: 30px;
        height: 30px;
    }
}

@media (max-width:650px){
    .secao-contato{
        width: 300px;
    }
}

@media (max-width:550px){
    .conteudo-principal{
        width: 350px;
        font-size: 3rem;
        text-align: center;
    }
}

@media (max-width:350px){
    .conteudo-principal{
        width: 300px;
        font-size: 2%;
        text-align: center;
    }
    
    .pizzas .infos{
        width: 100%h;
        height: 150px;
    }

    .pizzas .infos h4{
        grid-template-columns: 93px 150px;
    }
}
.pizzas .infos  .pequena, .media, .grande{
    position:absolute;
    display: flex;
    align-items: center;
}
.pizzas .infos .butaomerda{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 75px;
    width: 200px;
    height: 35px;
    margin-top: 0.5rem;
    background-color: #710000;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    transition: all 200ms ease-in;
}
